 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.E. in Electronics and Communication Engineering </h4>
    <h5 class="meta">Sri Ramakrishna Engineering College </h5>
    <div class="time">2016 - 2019</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">HSC</h4>
    <h5 class="meta">Annai Velankanni Mat. Hr. Sec. School</h5>
    <div class="time">2014 - 2015</div>
     <h4 class="degree">SSLC</h4>
    <h5 class="meta">St.Joseph's Mat. Hr. Sec. School</h5>
    <div class="time">2012 - 2013</div>
</div><!--//item-->
</div><!--//education-container-->
