<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Trainings</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Worksops & Intenships </h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                   <div class="company"></div>
                    <div class="details">
                        <p>Python Programmmiing by SDISC club at Sri Ramakrishna Engineering College, Coimbatore.</p>

                                      <p>Participated in the Network Designing Workshop by Pragyon at National 
                                            Institute of  Technology,Trichirapalli.</p>

                                       <p>Partiipated in hands on training on Simulation Of Electronic Circuits Using   
                                            Webenech by texas instrumentation at Sri Ramakrishna                                                                           
                                            Engineering College, Coimbatore.</p>
 
                                        <p>One day workshop on ISRO Satellite Remote Sensing Based Environmental  
                                            Applications at Karunya university.</p> 

                                        <p>Completed the course WF100-Orientation Program in Entretreneurship by widhwani foundation.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Summer Intenships</h3>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                        <div class="company">KGISL IMS Academy,cbe</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>In-Plant training on Basic Routing and Switching at KGISL,Coimbatore.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
