<div class="interests-container container-block">
<h2 class="container-block-title">Strengths</h2>
<ul class="list-unstyled strengths-list">
<li>Innovative Thinking</li>
<li>Natural Leader</li>
<li>Good Team Player</li>
<li>Excellent Communication Skils</li>
<li>Confident</li>  
</ul>
</div><!--//strengths-->

<div class="interests-container container-block">
<h2 class="container-block-title">Hobbies</h2>
<ul class="list-unstyled hobbies-list">
<li>Gardening</li>
<li>Bike Riding</li>
<li>Mobile Gaming</li>
<li>Watching TV</li>
</ul>
</div><!--//strengths-->
