<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Rain Water Detector</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook"></a></span> - <span class="project-tagline">Description:   Rain water detector is used to detect the rain water and it produces the use an alarm,it is used to the farmers for irrigation purpose and also can be used in cement factories.</span>
                    
                </div><!--//item-->
